* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

header {
    height: 600px;
    background-image: url(../images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0 28px;
    align-items: center;
}

nav ul li button {
    border: 0;
    padding: 12px;
    border-radius: 14px;
    font-weight: 700;
}

#header-title {
    text-align: center;
    margin-top: 40px;
    font-size: 46px;
    text-transform: uppercase;
}

.present {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.present .text {
    margin: 100px;
}

.present .text h3 {
    font-size: 36px;
    font-weight: 800;
}

.present .text p {
    margin-top: 30px;
}

.present .text h5 {
    margin-top: 30px;
}

.txt {
    padding: 16px;
    background-position: center;
    background-size: cover;
}

.txt div {
    text-align: center;
    margin-top: 320px;
    padding: 0 60px;
}

.txt div p {
    margin-top: 20px;
}

#first {
    background-image: url(../images//desktop/image-transform.jpg);
}

#second {
    background-image: url(../images//desktop/image-graphic-design.jpg);
}

.team {
    margin-top: 100px;
}

.team h3 {
    text-align: center;
    text-transform: uppercase;
    color: #c4c4c4;
    letter-spacing: 5px;
}

#prt {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.cart img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.cart>p {
    margin-top: 40px;
    width: 80%;
    text-align: center;
}

.cart>div {
    margin-top: 40px;
    text-align: center;
}

.cart>div>p {
    margin-top: 12px;
}

.gallery{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.gallery img{
  width: 325px;
}